<launch>

    <!-- point cloud converter -->
    <node pkg="nxt_assisted_teleop" type="range_to_pointcloud.py" name="range_to_pointcloud" respawn="true">
      <remap from="range_topic" to="ultrasonic_sensor" />
      <remap from="cloud_topic" to="point_cloud" />
    </node>

  
  <node pkg="nxt_assisted_teleop" name="assisted_teleop" type="assisted_teleop" respawn="false" output="screen">
    <rosparam file="$(find nxt_assisted_teleop)/launch/sensor_car/assisted_teleop.yaml" command="load" />
  </node>

</launch>
